@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --color-bg: #030303;
  --color-white: #fff;
  --color-light-gray: #818181;
  --color-active: #1db954;
  --color-active-hover: rgb(87, 168, 93);
  --color-active-bg: #1f1f1f;
  --transition: all 0.3s ease;
  --color-musicplayer-bg: #181818;
  --color-page-bg: #121212;
  --single-music-bg: #181818;
  --single-music-bg-hover: #282828;
}

/* Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

/* General */
a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Utilities */
.container {
  padding: 0 24px;
  width: 100%;
  height: 100%;
  
}

/* Main */
.main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 15rem 1fr;
}

/* Sidebar */
.sidebar {
  background-color: var(--color-bg);
}

.logo-wrapper {
  padding: 1.5rem;
  display: inline-block;
  width: 100%;
}

.logo-wrapper a {
  display: block;
  width: 8.125rem;
}

.logo-wrapper a img {
  width: 100%;
}

.sidebar-link {
  font-size: 0.813rem;
  height: 2.5rem;
  width: 100%;
  position: relative;
  color: var(--color-light-gray);
  display: block;
  font-weight: 600;
  /* margin-bottom: 20px; */
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  transition: var(--transition);
}

.sidebar-link.active {
  color: var(--color-white);
  transition: var(--transition);
  background: var(--color-active-bg);
}

.sidebar-link.active::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: var(--color-active);
}

.sidebar-icon {
  font-size: 1.625rem;
  margin-right: 0.938rem;
}

.page {
  background-image: linear-gradient(
    to bottom,
    rgb(31, 73, 92),
    rgb(15, 15, 15) 20%
  );
  /* background-color: var(--color-page-bg); */
}

.page-title {
  color: var(--color-white);
  font-weight: 700;
  font-size: 2.2rem;
  padding: 1.125rem 0;
  margin-bottom: 50px;
}

/* Player */
.music-player {
  height: 6rem;
  width: 100%;
  position:absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-musicplayer-bg);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.player-artist {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  place-items: center;
}

.player-song {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.player-name {
  color: var(--color-light-gray);
  font-size: 14px;
}

.player-heart {
  cursor: pointer;
  color: var(--color-light-gray);
  font-size: 1.25rem;
}

.player-heart.active {
  color: var(--color-active) ;
}

.player-image-wrap {
  width: 78px;
  height: 78px;
  border-radius: 5px;
  overflow: hidden;
}

.player-media-container {
  height: 100%;
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-media-buttons {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.player-media-icon {
  color: var(--color-light-gray);
  font-size: 1.5rem;
  cursor: pointer;
}

.player-media-icon.circle {
  border: 2px solid var(--color-light-gray);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 6px;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-slider {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  width: 100%;
}

.current,
.total-length {
  font-size: 12px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Volume */
.volume-wrapper {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.volume-icon {
  color: var(--color-light-gray);
  font-size: 3rem;
  margin: 0 20px;
}

/* Music row */
.music-row-wrapper {
  padding: 1.125rem 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 24px;
  margin-bottom: 24px;
}

.row-title {
  color: var(--color-white);
  font-weight: 600;
  font-size: 24px;
}

/* Single Music */
.single-music {
  min-width: 180px;
  max-width: 180px;
  height: 230px;
  background-color: var(--single-music-bg);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: var(--transition);
}

.single-music:hover {
  background-color: var(--single-music-bg-hover);
}

.single-music:hover .single-play-icon {
  bottom: 90px;
  opacity: 1;
  visibility: visible;
}

.single-music-img-wrapper {
  padding: .65rem;
}

.single-music-name,
.single-music-artist {
  font-size: 14px;
  color: var(--color-white);
  font-weight: 600;
}

.single-music-artist {
  color: var(--color-light-gray);
  font-size: 12px;
  margin-top: 5px;
}

.single-music-info {
  padding:0 .65rem;
}

.single-play-icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: var(--color-active);
  color: var(--color-white);
  border-radius: 50%;
  position: absolute;
  bottom: 80px;
  right: 20px;
  opacity: 0;
  transition: var(--transition);
  visibility: hidden;
  cursor: default;
  transition: var(--transition);
  box-shadow: 0 0 0 0 30px rgba(0, 0, 0, .8);
}

.single-play-icon:hover {
  background-color: var(--color-active-hover);
}